<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <title data-th-text="${loggedInUser.name}+' | SCM'" >Dashboard Page</title>
</head>
<body>
    <div id="content">

        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>

        <div style="padding-left: 270px; padding-top: 70px;">
            <h1 class="text-3xl">Welcome to Dashboard page</h1>
        </div>
    </div>
    <script>
        console.log('Dashboard page script');
    </script>
</body>
</html>